/* COLORS */
/*
	LIGHT: #EEEFED;
	DARK: #011627;
	HIGHLIGHT: #2EC4B6;
	ERR: #E71D36;
	WARN: #FF9F1C;
*/

/* RESETS & GLOBAL STYLES */

* {
	box-sizing:border-box;
	padding:0;
	margin:0;
	font-family:'Roboto', sans-serif;
}

html {
	background:#EEEFED;
}

/* SIDEBAR */

.sidebar {
	width:250px;
	height:auto;
	padding:25px;
	display:block;
	position:absolute;
	top:25px; right:auto; bottom:25px; left:25px;

	background:#011627;
	border-radius:10px;

	overflow:hidden;
}

.sidebar h1 {
	width:100%;
	height:75px;
	display:block;

	font-size:30px;
	font-weight:600;
	line-height:75px;
	text-align:left;

	color:#EEEFED;

	pointer-events:none;
}

.sidebar .warning {
	width:100%;
	height:100px;
	padding:25px;
	display:block;
	position:absolute;
	top:0; right:0; bottom:auto; left:0;

	font-size:20px;
	font-weight:600;
	line-height:25px;
	text-align:left;

	color:#fff;
	background:#FF9F1C;
}

.sidebar .share {
	width:100%;
	height:50px;
	padding:0 25px;
	display:block;
	position:absolute;
	top:auto; right:0; bottom:0; left:0;

	font-size:20px;
	font-weight:600;
	line-height:50px;
	text-align:left;
	text-transform:uppercase;
	text-decoration:none;

	color:#2EC4B6;
	background:none;

	transition:.1s;
	cursor:pointer;
}
.sidebar .share:hover,
.sidebar .share:active,
.sidebar .share:focus {
	color:#fff;
	background:#2EC4B6;
}

.sidebar .scroll {
	width:100%;
	height:auto;
	padding:0 25px 50px 25px;
	display:block;
	position:absolute;
	top:100px; right:0; bottom:50px; left:0;

	overflow:hidden;
	overflow-y:auto;
}

.sidebar .person {
	width:100%;
	height:50px;
	padding:0 0 0 20px;
	display:block;
	position:relative;

	font-size:18px;
	font-weight:400;
	line-height:50px;
	text-align:left;

	color:#2EC4B6;

	pointer-events:none;
}
.sidebar .person:before {
	width:10px;
	height:10px;
	display:block;
	position:absolute;
	top:20px; right:auto; bottom:20px; left:0;

	background:#2EC4B6;
	border-radius:100%;

	content:"";
}
.sidebar .person + .person {
	border-top:1px solid rgba(255,255,255,0.2);
}
.sidebar .person.offline {
	color:rgba(255,255,255,0.5)!Important;
}
.sidebar .person.offline:before {
	width:10px;
	height:10px;
	box-sizing:border-box;
	display:block;
	position:absolute;
	top:20px; right:auto; bottom:20px; left:0;

	background:none!Important;
	border:2px solid rgba(255,255,255,0.5);
	border-radius:100%;

	content:"";
}

.sidebar .person.blue {
	color:#359AFF;
}
.sidebar .person.blue:before {
	background:#359AFF;
}
.sidebar .person.pink {
	color:#F92C89;
}
.sidebar .person.pink:before {
	background:#F92C89;
}
.sidebar .person.green {
	color:#2EC4B6;
}
.sidebar .person.green:before {
	background:#2EC4B6;
}
.sidebar .person.red {
	color:#E71D36;
}
.sidebar .person.red:before {
	background:#E71D36;
}
.sidebar .person.yellow {
	color:#FF9F1C;
}
.sidebar .person.yellow:before {
	background:#FF9F1C;
}
.sidebar .person.orange {
	color:#F45D01;
}
.sidebar .person.orange:before {
	background:#F45D01;
}
.sidebar .person.purple {
	color:#3D348B;
}
.sidebar .person.purple:before {
	background:#3D348B;
}

/* CHAT */

.chat {
	width:auto;
	height:auto;
	display:block;
	position:absolute;
	top:25px; right:25px; bottom:25px; left:300px;

	background:none;

	overflow:hidden;
}

/* CHAT INPUT */

.chat .compose {
	width:auto;
	height:75px;
	display:block;
	position:absolute;
	top:auto; right:0; bottom:0; left:0;

	background:#fff;
	border-radius:10px;

	overflow:hidden;
}

.chat .compose input[type=text] {
	width:auto;
	width:calc(100% - 100px);
	height:100%;
	padding:0 25px;
	display:block;
	position:absolute;
	top:0; right:100px; bottom:0; left:0;

	font-size:20px;
	font-weight:500;
	line-height:75px;
	text-align:left;

	color:#011627;

	border:none;
	border-radius:10px 0 0 10px;
	outline:none;

	transition:.2s;
}
.chat .compose input[type=text]::-webkit-input-placeholder {
	color:rgba(0,0,0,0.2);
}
.chat .compose input[type=text]:-ms-input-placeholder {
	color:rgba(0,0,0,0.2);
}
.chat .compose input[type=text]:-moz-placeholder {
	color:rgba(0,0,0,0.2);
}
.chat .compose input[type=text]::-moz-placeholder {
	color:rgba(0,0,0,0.2);
}
.chat .compose input[type=text]::placeholder {
	color:rgba(0,0,0,0.2);
}
.chat .compose input[type=text]:focus {
	box-shadow:inset 0 0 0 5px rgba(0,0,0,0.2);
}

.chat .compose .send {
	width:100px;
	height:75px;
	display:block;
	position:absolute;
	top:0; right:0; bottom:0; left:auto;

	font-size:20px;
	font-weight:600;
	line-height:75px;
	text-align:center;
	text-transform:uppercase;
	text-decoration:none;

	background:#fff;
	color:#2EC4B6;

	transition:.1s;
	cursor:pointer;
}
.chat .compose .send:hover,
.chat .compose .send:active,
.chat .compose .send:focus {
	background:#2EC4B6;
	color:#fff;
}

.chat .compose input[type=image] {
	display:none;
}
.chat .compose .attach {
	width:75px;
	height:75px;
	display:block;
	position:absolute;
	top:0; right:100px; bottom:0; left:auto;
	
	background:none;
	background-image:url(/images/attach.svg);
	background-position:0 2px;
	background-size:75px 150px;
	
	cursor:pointer;
}
.chat .compose .attach:hover,
.chat .compose .attach:active,
.chat .compose .attach:focus {
	background-position:0 77px;
}

.chat .compose.sending {
	pointer-events:none;
}
.chat .compose.sending .send:before {
	/* TODO: Make this nicer */
	height:100%;
	width:100%;
	display:block;
	position:absolute;
	top:0; right:0; bottom:0; left:0;

	font-size:20px;
	font-weight:600;
	line-height:75px;
	text-decoration:none;
	text-align:center;
	text-transform:capitalize;

	color:rgba(0,0,0,0.5);
	background:#EEEFED;

	content:"...";
}

/* CHAT MESSAGES */

.chat .messages {
	width:auto;
	height:auto;
	padding:0 0 25px 0;
	display:block;
	position:absolute;
	top:0; right:0; bottom:75px; left:0;

	overflow:hidden;
	overflow-y:auto;
}

.chat .messages .message {
	width:100%;
	height:auto;
	display:block;
	margin:0 0 25px 0;

	text-align:right;
}
.chat .messages .message > span {
	width:100%;
	height:25px;
	display:block;

	font-size:15px;
	font-weight:600;
	font-style:italic;
	line-height:25px;

	color:rgba(0,0,0,0.2);
}
.chat .messages .message > p {
	width:350px;
	max-width:90%;
	height:auto;
	padding:25px;
	display:inline-block;

	font-size:20px;
	font-weight:500;
	line-height:22px;
	text-align:left;

	background:rgba(0,0,0,0.2);
	color:#011627;
	border-radius:10px
}
.chat .messages .message > p a {
	display:inline-block;

	font-weight:600;
	text-decoration:underline;

	color:inherit;
	background:none;
	box-shadow:none;
	border-radius:2px;

	transition:.1s;
}
.chat .messages .message > p a:hover {
	background:rgba(0,0,0,0.2);
	box-shadow:0 0 0 4px rgba(0,0,0,0.2);
}

.chat .messages .message > img {
	width:350px;
	max-width:90%;
	height:auto;
	display:inline-block;

	background:rgba(0,0,0,0.2);
	border-radius:10px
}

.chat .messages .message.notme {
	text-align:left;
}

.chat .messages .message.blue > span {
	color:#359AFF;
}
.chat .messages .message.blue > p {
	color:#fff;
	background:#359AFF;
}
.chat .messages .message.pink > span {
	color:#F92C89;
}
.chat .messages .message.pink > p {
	color:#fff;
	background:#F92C89;
}
.chat .messages .message.green > span {
	color:#2EC4B6;
}
.chat .messages .message.green > p {
	color:#fff;
	background:#2EC4B6;
}
.chat .messages .message.red > span {
	color:#E71D36;
}
.chat .messages .message.red > p {
	color:#fff;
	background:#E71D36;
}
.chat .messages .message.yellow > span {
	color:#FF9F1C;
}
.chat .messages .message.yellow > p {
	color:#fff;
	background:#FF9F1C;
}
.chat .messages .message.orange > span {
	color:#F45D01;
}
.chat .messages .message.orange > p {
	color:#fff;
	background:#F45D01;
}
.chat .messages .message.purple > span {
	color:#3D348B;
}
.chat .messages .message.purple > p {
	color:#fff;
	background:#3D348B;
}

/* CHAT LOADING */

.chat .loading {
	width:100%;
	height:auto;
	display:block;
	margin:0 0 25px 0;

	font-size:20px;
	font-weight:600;
	line-height:50px;
	text-decoration:none;
	text-align:center;
	text-transform:capitalize;

	color:rgba(0,0,0,0.5);

	pointer-events:none;
}

/* MODALS */

.modal {
	width:400px;
	max-width:90%;
	height:auto;
	max-height:90%;
	padding:0 25px 25px 25px;
	display:block;
	position:absolute;
	top:50%; right:auto; bottom:auto; left:50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	background:#fff;
	border-radius:10px;
	box-shadow:0 0 0 1000px #EEEFED;

	color:#2EC4B6;

	overflow:visible;
	overflow-y:auto;
}

.modal h1 {
	width:100%;
	height:auto;
	display:block;
	margin:25px 0 0 0;

	font-size:25px;
	font-weight:600;
	line-height:30px;
	text-align:left;
	text-transform:capitalize;

	color:inherit;
}
.modal p {
	width:100%;
	height:auto;
	display:block;
	margin:15px 0 0 0;

	font-size:18px;
	font-weight:400;
	line-height:20px;
	text-align:left;

	color:#011627;
}
.modal img {
	width:100%;
	height:auto;
	display:block;
	margin:25px 0 0 0;
	
	background:#EEEFED;
	border-radius:10px;
}
.modal .url {
	width:100%;
	height:50px;
	padding:0 15px;
	display:block;
	margin:25px 0;

	font-size:20px;
	font-weight:600;
	line-height:50px;
	text-align:left;

	color:#011627;
	background:#EEEFED;
	border-radius:10px;

	white-space:nowrap;
	overflow:hidden;
	overflow-x:scroll;
}
.modal .error {
	width:100%;
	height:auto;
	box-sizing:content-box;
	padding:25px;
	display:block;
	margin:0 -25px 0 -25px;

	font-size:18px;
	font-weight:600;
	line-height:20px;
	text-align:left;

	color:#fff;
	background:#E71D36;
}
.modal .error a {
	text-decoration:underline;

	color:#fff;
}
.modal input[type=text] {
	width:100%;
	height:50px;
	box-sizing:content-box;
	display:block;
	margin:25px 0 0 0;

	font-size:20px;
	font-weight:500;
	line-height:50px;
	text-align:left;

	color:#011627;

	border:none;
	border-radius:0;
	border-bottom:5px solid rgba(0,0,0,0.2);
	outline:none;

	transition:.2s;
}
.modal input[type=text]::-webkit-input-placeholder {
	color:rgba(0,0,0,0.2);
}
.modal input[type=text]:-ms-input-placeholder {
	color:rgba(0,0,0,0.2);
}
.modal input[type=text]:-moz-placeholder {
	color:rgba(0,0,0,0.2);
}
.modal input[type=text]::-moz-placeholder {
	color:rgba(0,0,0,0.2);
}
.modal input[type=text]::placeholder {
	color:rgba(0,0,0,0.2);
}
.modal input[type=text]:focus {
	border-bottom:5px solid #2EC4B6;
}
.modal .button {
	width:100%;
	height:50px;
	padding:0 25px;
	display:block;
	position:relative;
	margin:25px 0 0 0;

	font-size:20px;
	font-weight:600;
	line-height:50px;
	text-decoration:none;
	text-align:center;
	text-transform:uppercase;

	color:#2EC4B6;
	background:#fff;
	border-radius:10px;

	transition:.1s;
	cursor:pointer;
}
.modal .button:active,
.modal .button:focus,
.modal .button:hover {
	color:#fff;
	background:#2EC4B6;
}

.modal .button.error {
	color:#E71D36;
}
.modal .button.error:active,
.modal .button.error:focus,
.modal .button.error:hover {
	color:#fff;
	background:#E71D36;
}

.modal .button.cancel {
	color:#FF9F1C;
}
.modal .button.cancel:active,
.modal .button.cancel:focus,
.modal .button.cancel:hover {
	color:#fff;
	background:#FF9F1C;
}

.modal .button.loading {
	pointer-events:none;
}
.modal .button.loading:before {
	/* TODO: Make this nicer */
	height:100%;
	width:100%;
	display:block;
	position:absolute;
	top:0; right:0; bottom:0; left:0;

	font-size:20px;
	font-weight:600;
	line-height:50px;
	text-decoration:none;
	text-align:center;
	text-transform:capitalize;

	color:rgba(0,0,0,0.5);
	background:#EEEFED;
	border-radius:10px;

	content:"Loading ...";
}

.modal.error {
	color:#E71D36;
}

.modal .social {
	width:100%;
	height:auto;
	display:block;
	margin:25px 0 0 0;

	border-radius:10px;

	overflow:hidden;
}
.modal .social .button {
	margin:0;

	border-radius:0;
	box-shadow:inset 0 50px 0 0 #fff;

	transition:box-shadow 0;
}
.modal .social .button:active,
.modal .social .button:focus,
.modal .social .button:hover {
	color:#fff!Important;
	box-shadow:none;
	box-shadow:inset 0 50px 0 0 rgba(255,255,255,0);
}

/* PAGE LOADING INDICATOR */

.full-loading {
	width:100vw;
	height:100vh;
	display:block;
	position:fixed;
	top:0; right:0; bottom:0; left:0;

	font-size:25px;
	font-weight:600;
	line-height:100vh;
	text-align:center;
	text-transform:capitalize;

	color:rgba(0,0,0,0.5);
	background:#EEEFED;
}

/* SMALL SCREENS */

@media (max-width: 600px) {
	/* SIDEBAR */
	.sidebar {
		width:auto;
		height:75px;
		padding:0;
		top:25px; right:25px; bottom:auto; left:25px;

		border-radius:10px 10px 0 0;
	}
	.sidebar h1 {
		display:none;
	}
	.sidebar .warning {
		padding:12px 25px;
	}
	.sidebar .share {
		width:100%;
		height:75px;
		padding:0 25px;
		display:inline-block;
		position:relative;

		text-align:center;
		line-height:75px;
	}
	.sidebar .scroll {
		display:none;
	}
	/* CHAT */
	.chat {
		top:100px; right:25px; bottom:25px; left:25px;
	}
}
