<!DOCTYPE html>
<html lang="en">
  
	<head>
		<!-- Meta Stuff -->
		<meta charset="utf-8">
		<!-- Title -->
		<title>Freech</title>
		<!-- Fonts & Css -->
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link href="./css/app.css" rel="stylesheet" type="text/css">
	</head>
	
	<!-- The App -->
	<body>
		<!-- The Sidebar (displaying the logged-in users) -->
		<div class="sidebar">
			<!-- The Header -->
			<h1>People</h1>
			<!-- The list with all people -->
			<div class="scroll">
				<div v-for="user in chat.users" class="person {{ user.id | userclass }}">
					<span>{{ user.name }}</span>
				</div>
			</div>
		</div>
		
		<!-- The Chat -->
		<div class="chat">
			<!-- Message Container -->
			<div id="chat-messages-scroll" v-on:scroll="chatWindowScroll" class="messages">
				
				<!-- A single message -->
				<div v-for="message in chat.messages" class="message {{ message.userId | userclass }}">
					<span>{{ message.userId | username }} - {{ message.time | timestamp }}</span>
					<p>{{ message.text }}</p>
				</div>
				
			</div>
			<!-- Send Input -->
			<div class="compose">
				<input type="text" v-model="input.newMessage" v-on:keyup.enter="buttonSendMessage" placeholder="What's on your mind?">
				<a href="javascript:void(0)" v-on:click="buttonSendMessage" class="send">Send</a>
			</div>
		</div>
		
		<!-- New Chat Modal -->
		<div class="modal" v-if="ui.displayNewChatPrompt">
			<h1>New chat</h1>
			<p>Do you want to create a new chat?</p>
			<a href="javascript:void(0)" v-on:click="buttonCreateChat" class="button">Create Chat</a>
		</div>
		
		<!-- Enter Name Modal -->
		<div class="modal" v-if="ui.displayNamePrompt">
			<h1>Your name</h1>
			<p>Please enter your name.</p>
			<input type="text" v-model="input.name" v-on:keyup.enter="buttonJoinChat" placeholder="What's your name?">
			<a href="javascript:void(0)" v-on:click="buttonJoinChat" class="button">Join Chat</a>
		</div>
		
		<!-- Connection Lost Modal -->
		<div class="modal error" v-if="ui.displayDisconnectError">
			<h1>Connection lost</h1>
			<p>Do you want to reconnect?</p>
			<a href="javascript:void(0)" v-on:click="buttonReconnectChat" class="button">Reconnect</a>
		</div>
		
		<!-- Scripts -->
		<script src="./js/engine.io.js"></script>
		<script src="./js/forge-sha256.js"></script>
		<script src="./js/vue.min.js"></script>
		<script src="./js/app.js"></script>
	</body>
	
</html>
