<!DOCTYPE html>
<html lang="en">

	<head>
		<!-- Meta Stuff -->
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<!-- Title -->
		<title>Freech - Chat</title>
		<!-- Fonts & Css -->
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link href="./css/chat.css" rel="stylesheet" type="text/css">
	</head>

	<!-- The App -->
	<body>
		<!-- The Sidebar (displaying the logged-in users) -->
		<div class="sidebar">
			<!-- The Header -->
			<h1>People</h1>
			<!-- The list with all people -->
			<div class="scroll">
				<div v-for="user in freechTemp.userList" class="person {{ user.id | userclass }}">
					<span>{{ user.name }}</span>
				</div>
			</div>
			<!-- The share button -->
			<a href="javascript:void(0)" v-on:click="buttonToggleShare" class="share">Invite a friend</a>
			<!-- The Expiration Notice -->
			<span class="warning" v-if="freechTemp.expirationTimeLeft < 3600000">This chat will expire in {{ Math.floor(freechTemp.expirationTimeLeft / 60000) }} minutes.</span>
		</div>

		<!-- The Chat -->
		<div class="chat">
			<!-- Message Container -->
			<div id="chat-messages-scroll" v-on:scroll="scrollChat" class="messages">

				<!-- The loading indicator -->
				<span class="loading" v-show="freechTemp.loadingOldMessages" v-if="freechTemp.totalMessageCount !== freechTemp.messages.length && freechTemp.totalMessageCount !== -1">Loading ...</span>
				<!-- The no messages indicator -->
				<span class="loading" v-if="freechTemp.totalMessageCount === -1">No messages</span>

				<!-- A single message -->
				<div v-for="message in freechTemp.messages" class="message {{ message.userId | userclass }}">
					<!-- Sender & Timestamp -->
					<span>{{ message.userId | username }} - {{ message.time | timestamp }}</span>
					<!-- Message text -->
					<p v-if="message.text && message.text !== 'nogodsnomasters'">{{{ message.text | message }}}</p>
					<!-- Spacing -->
					<span v-if="message.text && message.image && message.text !== 'nogodsnomasters'" style="display:block"></span>
					<!-- Attached image -->
					<img v-if="message.image && message.text !== 'nogodsnomasters'" v-bind:src="message.image">
					<!-- Simple Easter Egg -->
					<img v-if="message.text === 'nogodsnomasters'" v-bind:src="'./images/no_gods-no_masters.png'">
				</div>

			</div>
			<!-- Send Input -->
			<div class="compose" v-bind:class="{ 'sending': uiData.loading.sendingNewMessage }">
				<input type="text" v-model="input.newMessage" v-on:keyup.enter="buttonSendNewMessage" placeholder="What's on your mind?">
				<label class="attach" for="image"></label>
				<input id="image" name="image" type="file" accept="image/*" onchange="ui.updateImageUpload(this)">
				<a href="javascript:void(0)" v-on:click="buttonSendNewMessage" class="send">Send</a>
			</div>
		</div>

		<!-- Send Image Modal -->
		<div class="modal-bg" v-if="input.newImage != ''">
			<div class="modal">
				<!-- Image preview -->
				<img v-bind:src="input.newImage">
				<!-- Add a comment -->
				<input type="text" v-model="input.newMessage" v-on:keyup.enter="buttonSendNewMessage" placeholder="Add a comment.">
				<!-- Send And Cancel -->
				<a href="javascript:void(0)" v-on:click="buttonSendNewMessage" class="button" v-bind:class="{ 'loading': uiData.loading.sendingNewMessage }">Send Image</a>
				<a href="javascript:void(0)" v-show="!uiData.loading.sendingNewMessage" v-on:click="buttonCancelImage" class="button yellow">Cancel</a>
			</div>
		</div>

		<!-- Share This Chat Modal -->
		<div class="modal-bg" v-if="uiData.modals.share">
			<div class="modal">
				<h1>Share this chat</h1>
				<p>To share this chat, please invite your friends using this URL.</p>
				<!-- URL -->
				<span class="url">{{ uiData.content.shareUrl }}</span>
				<!-- Social buttons -->
				<span class="social">
					<!-- Email -->
					<a href="mailto:?&body={{ uiData.content.shareUrl }}" target="_blank" class="button" style="color:#011627;background:#011627">EMail</a>
					<!-- Twitter -->
					<a href="https://twitter.com/intent/tweet?url={{ uiData.content.shareUrl }}" target="_blank" class="button" style="color:#1da1f2;background:#1da1f2">Twitter</a>
					<!-- Facebook -->
					<a href="https://www.facebook.com/sharer/sharer.php?u={{ uiData.content.shareUrl }}" target="_blank" class="button" style="color:#365899;background:#365899">Facebook</a>
				</span>
				<!-- Close -->
				<a href="javascript:void(0)" v-on:click="buttonToggleShare" class="button">Done</a>
			</div>
		</div>

		<!-- New Chat Modal -->
		<div class="modal-bg" v-if="uiData.modals.newChat">
			<div class="modal">
				<span class="error" v-if="uiData.errors.createNewChat">Failed to create a chat.</span>
				<h1>New chat</h1>
				<p>Do you want to create a new chat?</p>
				<a href="javascript:void(0)" v-on:click="buttonNewChat" v-bind:class="{ 'loading': uiData.loading.creatingChat }" class="button">Create Chat</a>
			</div>
		</div>

		<!-- Enter Name Modal -->
		<div class="modal-bg" v-if="uiData.modals.newUser">
			<div class="modal">
				<span class="error" v-if="uiData.errors.createNewUser">Failed to join the chat. Have you tried <a href="/chat">creating a new one</a>?</span>
				<span class="error" v-if="uiData.errors.createNewUserInput">You need to enter a name.</span>
				<h1>Your name</h1>
				<p>Please enter your name.</p>
				<input type="text" v-model="input.newUserName" v-on:keyup.enter="buttonCreateUser" placeholder="What's your name?">
				<a href="javascript:void(0)" v-on:click="buttonCreateUser" v-bind:class="{ 'loading': uiData.loading.creatingUser }" class="button">Join Chat</a>
			</div>
		</div>

		<!-- Connection Lost Modal -->
		<div class="modal-bg" v-if="uiData.modals.disconnect">
			<div class="modal error">
				<!-- Lost connection -->
				<span v-if="freechTemp.expirationTimeLeft > 0">
					<h1>Connection lost</h1>
					<p>Do you want to reconnect?</p>
					<a href="javascript:void(0)" v-on:click="buttonReconnect" class="button yellow">Reconnect</a>
				</span>
				<!-- Lost connection & chat is expired -->
				<span v-else>
					<h1>The chat expired</h1>
					<p>You can always create a new chat.</p>
					<a href="/chat" class="button red">New Chat</a>
				</span>
			</div>		
		</div>

		<!-- Full Loading TODO: Make this nicer -->
		<div class="full-loading" v-if="uiData.loading.full">
			Loading ...
		</div>

		<!-- Scripts -->
		<script src="./js/libs.js"></script>
		<script src="./js/chat.js"></script>
	</body>

</html>
